/SubidaPunto/nbproject/private/
/SubidaPunto/dist/
/TuPutaMadre/nbproject/private/
/TuPutaMadre/build/
/TuPutaMadre/dist/
/YOSHILIST/build/
/YOSHILIST/nbproject/private/
/RepasoSubida/nbproject/private/
/RepasoSubida/build/
